/* creamos nuestros colores personalizados */
:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#ffC107;
    --secundario:#0097A7;
    --gris:#757575;

}
/* fin */

/* para poder usar rem mas facil */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* para usar mejor box model */
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif; /* por defecto se carga el estilo de 700 */
    background-image: linear-gradient(to top,rgba( 0 0 0 / 10%) 0%,var(--blanco) 100%);
}
/*fin */

 /* para usar mejor box model */
*, *:before, *:after {
    box-sizing: inherit;
}

/* estilo a todos los h2 */
h2{
    text-align: center;
}

/* diseño al header */

.perfil{
    width: 10rem;
    border: solid 1rem var(--blanco);
    border-radius: 20em;
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
    margin: 0;
}

.titulo span{
    font-size: 2rem;
    color: var(--primario);
}

/* fin del diseño al header */


/* estilo al nav */

.navegacion{
    background: var(--secundario);
}

.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background: var(--primario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}

/* fin estilo al nav */


/* estilo al nav */

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* estilo al fondo imagen */
.fondo_imagen{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* para que la imagen tome todo el ancho del contenedor */
    height: 420px;
    position: relative; /* el padre siempre debe tener posicion relativa para que el hijo pueda tener posicion aabsoluta */
}

.fondo_imagen-contenido{
 position: absolute;
 background-color: rgba(0 0 0 / 70%); /*  dar tranparencia al div  */
 height: 100%; /* alto para que el div abarque toda la imagen */
 width: 100%; /*  ancho para que el div abarque toda la imagen */

 display: flex;
 flex-direction: column;
 align-items: center; /* alinear horizontalmente */
 justify-content: center;  /* alinear verticalmente */

}

.fondo_imagen-contenido h2,
.fondo_imagen-contenido p {
    color: var(--blanco);
}

.fondo_imagen-contenido a{
    text-decoration: none;
    color: var(--blanco);
    background: var(--secundario);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .fondo_imagen-contenido a{
        width: auto; /* para poner boton con un ancho por default  */
    }
}
/* fin  estilo al fondo imagen */


/* estilo al main */

.sombra{ /* agregamos sombra el contenedor */ 
    box-shadow: 0px 5px 15px 0px rgba(107,103,107,0.6);
    background: var(--blanco);
    padding: 2rem;
    margin-top: 2rem;
}


/* estilo a las secciones del main */
@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns:repeat(3,1fr);
       }
}

.secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.secciones p{
    line-height: 30px; /* dar separacion entre cada texto */
    text-align: justify;
}

.secciones h3{
  color: var(--secundario);
}

.icono{
    background-color: var(--primario);
    padding: 2rem;
    border-radius: 50%;/*  para que el borde sea redondo */
}

/* estilo al footer */
footer{
    background: var(--secundario);
    padding: 1.5rem;
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    font-size: 700;
}

/* estilos al formulario*/

.formulario{
    background: rgba( 0 0 0 /11%);
    width: min(60rem,100%); /* toma el valor mas pequeño, agarra el 100% cuando es en movil*/
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0px 5px 15px 0px rgba(107,103,107,0.6);
}

.formulario-contenido fieldset{
    border: none;
}

.formulario-contenido legend{
    color: var(--secundario);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.campo label{
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.input{
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
}

.boton:hover{
    cursor:pointer /* para que aparezca el icono de imagen al pasar por el boton */
}

.boton{
  width: 100%;
  padding: 1rem;
  background: var(--secundario);
  color: var(--blanco);
  font-weight: bold;
  font-size: 1.5rem;
}

.enviar{
 text-align: center;
}

.alinear-derecha{
 display: flex;
}

@media (min-width: 768px) {
    .alinear-derecha{
       justify-content: flex-end;
       margin: auto;
    }
}





