/* creamos nuestros colores personalizados */
:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#ffC107;
    --secundario:#0097A7;
    --gris:#757575;

}
/* fin */

/* para poder usar rem mas facil */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* para usar mejor box model */
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif; /* por defecto se carga el estilo de 700 */
}
/*fin */

 /* para usar mejor box model */
*, *:before, *:after {
    box-sizing: inherit;
}


/* diseño al header */

.perfil{
    width: 10rem;
    border: solid 1rem var(--blanco);
    border-radius: 20em;
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
    margin: 0;
}

.titulo span{
    font-size: 2rem;
    color: var(--primario);
}

/* fin del diseño al header */


/* estilo al nav */

.navegacion{
    background: var(--secundario);
}

.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background: var(--primario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}

/* fin estilo al nav */


/* estilo al nav */

.contenedor{
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
}

/* estilo al fondo imagen */
.fondo_imagen{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* para que la imagen tome todo el ancho del contenedor */
    height: 420px;
    position: relative; /* el padre siempre debe tener posicion relativa para que el hiji pueda tener posicion aabsoluta */
}

.fondo_imagen-contenido{
 position: absolute;
 background-color: rgba(0 0 0 / 70%); 
 width: 0px 0px;
 height: 100%;
 width: 100%;

 display: flex;
 flex-direction: column;
 align-items: center; /* alinear horizontalmente */
 justify-content: center;  /* alinear verticalmente */

}

.fondo_imagen-contenido h2,
.fondo_imagen-contenido p {
    color: var(--blanco);
}

.fondo_imagen-contenido a{
    text-decoration: none;
    color: var(--blanco);
    background: var(--secundario);
    padding: 1rem;
}



